<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% comment %}Insert page title (default is Zhehe){% endcomment %}
        {% block html_title %}Zhehe{% endblock %}
    </title>
    <!-- To have less static content I will mostly use CDNs in this project -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    {% comment %}Insert additional CSS-styles and JS{% endcomment %}
    {% block additional_styles %}{% endblock %}
    {% block additional_js %}{% endblock %}

</head>
<body>
<header>
    <div class="container">
        <!-- row 1 -->
        <div class="row">
            {% block header-logo %}{% endblock %}
            <ul class="list-inline ml-auto">
                <li class="list-inline-item">
                    <a href="#contact">Contact</a>
                </li>
                <li class="list-inline-item">
                    <a href="#about">About</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<section id="intro-header">
    <div class="container">
        <!-- row 2 -->
        <div class="row">
            <div class="wrap-headline">
                {% comment %}Insert centered Zhehe logo{% endcomment %}
                {% block zhehe-logo %}{% endblock %}
                <hr>
                <ul class="list-inline ml-auto text-center">
                    <li class="list-inline-item">
                        <a id="sign-btn" class="btn btn-secondary btn-lg" href="#" role="button">Sign in</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <!-- row 3 -->
        <div class="row">
            <div class="col-sm-6">
                {% comment %} Insert about image on left hand side {% endcomment %}
                {% block about-overview-img %}{% endblock %}
            </div>
            <div class="col-sm-6">
                {% comment %} Insert about header on left hand side {% endcomment %}
                <h3>{% block about-overview-header %}{% endblock %}</h3>
                <p>
                    {% comment %} Insert about text on left hand side {% endcomment %}
                    {% block about-overview-text %}{% endblock %}
                </p>
            </div>
        </div>
        <hr>
        <!-- row 4 -->
        <div class="row">
            <div class="col-sm-6">
                {% comment %} Insert about header on right hand side {% endcomment %}
                <h3>{% block about-manage-header %}{% endblock %}</h3>
                <p>
                    {% comment %} Insert about text on right hand side {% endcomment %}
                    {% block about-manage-text %}{% endblock %}
                </p>
            </div>
            <div class="col-sm-6">
                {% comment %} Insert about image on right hand side {% endcomment %}
                {% block about-manage-img %}{% endblock %}
            </div>
        </div>
    </div>
</section>

{% block newsletter %}{% endblock %}

<section id="footer">
    <div class="row">
        <div class="container text-center">
            {% block footer-logo %}{% endblock %}
            <ul class="list-inline ml-auto justify-content-center quick-links">
                <li class="list-inline-item">
                    <a href="https://zhehe.readthedocs.io/en/latest/" target="_blank"><i
                            class="fa fa-angle-double-right"></i>Dokumentation</a>
                </li>
                <li class="list-inline-item">
                    <a href="#About"><i class="fa fa-angle-double-right"></i>About</a>
                </li>
                <li class="list-inline-item">
                    <a href="#Contact" type="button" data-toggle="modal" data-target="#myModal"><i
                            class="fa fa-angle-double-right"></i>Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p class="h6">© Copyright 2020, All right Reversed by Jonas Winkler</p>
        </div>
    </div>
</section>

<section id="contact" class="container">
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Kontaktformular</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row col-sm-12">
                        <div>
                            {% block contact %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>