section#signup form {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section#signup h1 {
    padding-top: 3rem;
    text-shadow: 4px 4px 5px #746c6c;
}

section#signup.asteriskField {
    display: none;
}

section#signup button {
    margin-top: 1rem;
}