{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/forms/pass_change_form.css' %}">
{% endblock %}

{% block content %}

    <section id="pass_change" class="container-fluid h-100">
        <div class="row justify-content-center">
            <h1><h1>{% trans "Change Password" %}</h1></h1>
        </div>
        </hr>
        <div class="row justify-content-center align-item-center h-100 mt-5">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <form id="signup_form" action="{% url 'account_change_password' %}" method="post"
                      class="needs-validation"
                      novalidate>
                    {% csrf_token %}
                    <!--
                    Input -> Old Password
                    -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        {{ form.oldpassword }}
                        {% if not form.oldpassword.errors %}
                            <div class="invalid-feedback">
                                Bitte aktuelles Passwort für Benutzer <strong>{{ user_display }}</strong> eingeben.
                            </div>
                        {% endif %}
                    </div>
                    {% if form.oldpassword.errors %}
                        <div class="alert alert-danger">
                            <ul style="list-style: none; padding-left: 0">
                                {% for error in form.oldpassword.errors %}
                                    <li><small>{{ error }}</small></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <!--
                    Input -> New Password 1
                    -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="alert alert-danger">
                                <ul style="list-style: none; padding-left: 0">
                                    {% for error in form.password1.errors %}
                                        <li><small>{{ error }}</small></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <div class="invalid-feedback">
                                Passwort ungültig
                            </div>
                        {% endif %}
                    </div>
                    <!--
                    Input -> New Password 2
                    -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        {{ form.password2 }}
                        {% if form.password1.errors %}
                            <div class="alert alert-danger">
                                <ul style="list-style: none; padding-left: 0">
                                    {% for error in form.password1.errors %}
                                        <li><small>{{ error }}</small></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <div class="invalid-feedback">
                                Bitte neues Passwort wiederholen
                            </div>
                        {% endif %}
                    </div>
                    <div class="container mt-4">
                        <button class="button" type="submit" name="action">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-lock"
                                 class="svg-inline--fa fa-user-lock fa-w-20" role="img"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path d="M224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128zm96 64a63.08 63.08 0 0 1 8.1-30.5c-4.8-.5-9.5-1.5-14.5-1.5h-16.7a174.08 174.08 0 0 1-145.8 0h-16.7A134.43 134.43 0 0 0 0 422.4V464a48 48 0 0 0 48 48h280.9a63.54 63.54 0 0 1-8.9-32zm288-32h-32v-80a80 80 0 0 0-160 0v80h-32a32 32 0 0 0-32 32v160a32 32 0 0 0 32 32h224a32 32 0 0 0 32-32V320a32 32 0 0 0-32-32zM496 432a32 32 0 1 1 32-32 32 32 0 0 1-32 32zm32-144h-64v-80a32 32 0 0 1 64 0z"></path>
                            </svg>
                            <span>{% trans 'Change' %}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </section>
    {% comment %}    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>{% endcomment %}
{% endblock %}
