{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/forms/pass_reset_form.css' %}">
{% endblock %}

{% block content %}

    <section id="pass_reset" class="container-fluid h-100">
        <div class="row justify-content-center">
            <h1>{% trans "Password Reset" %}</h1>
        </div>
        </hr>
        <p class="text-center">
            {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
        </p>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <div class="row justify-content-center align-item-center h-100 mt-5">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <form id="signup_form" action="{% url 'account_reset_password' %}" method="post"
                      class="needs-validation"
                      novalidate>
                    {% csrf_token %}
                    <!--
                    Input -> Email
                    -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        {{ form.email }}
                        <div class="invalid-feedback">
                            Bitte geben Sie Ihre E-Mail-Adresse ein
                        </div>
                    </div>
                    {% if form.email.errors %}
                        <div class="alert alert-danger">
                            <ul style="list-style: none; padding-left: 0">
                                {% for error in form.email.errors %}
                                    <li><small>{{ error }}</small></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="container mt-4">
                        <button class="button" type="submit">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="backspace"
                                 class="svg-inline--fa fa-backspace fa-w-20" role="img"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path d="M576 64H205.26A63.97 63.97 0 0 0 160 82.75L9.37 233.37c-12.5 12.5-12.5 32.76 0 45.25L160 429.25c12 12 28.28 18.75 45.25 18.75H576c35.35 0 64-28.65 64-64V128c0-35.35-28.65-64-64-64zm-84.69 254.06c6.25 6.25 6.25 16.38 0 22.63l-22.62 22.62c-6.25 6.25-16.38 6.25-22.63 0L384 301.25l-62.06 62.06c-6.25 6.25-16.38 6.25-22.63 0l-22.62-22.62c-6.25-6.25-6.25-16.38 0-22.63L338.75 256l-62.06-62.06c-6.25-6.25-6.25-16.38 0-22.63l22.62-22.62c6.25-6.25 16.38-6.25 22.63 0L384 210.75l62.06-62.06c6.25-6.25 16.38-6.25 22.63 0l22.62 22.62c6.25 6.25 6.25 16.38 0 22.63L429.25 256l62.06 62.06z"></path>
                            </svg>
                            <span>{% trans 'Reset My Password' %}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <p class="text-center" style="padding-top: 1rem">
            Bitte kontaktieren Sie uns, falls Sie Schwierigkeiten haben sollten Ihr Passwort zurückzusetzen.
        </p>
    </section>

{% endblock %}
