{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/forms/sign_up_form.css' %}">
{% endblock %}

{% block content %}

    <section id="signup" class="container-fluid h-100">
        <div class="row justify-content-center">
            <h1>Registrierung</h1>
        </div>
        </hr>
        <p class="text-center">
            Sie haben bereits einen Account bei
            <ins>Zhehe</ins>
            ?<br>
        <div class="container">
            <a href="{{ login_url }}">
                <div class="button">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-in-alt"
                         class="svg-inline--fa fa-sign-in-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512">
                        <path d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"></path>
                    </svg>
                    <span>Anmelden</span>
                </div>
            </a>
        </div>
        </p>
        <div class="row justify-content-center align-item-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <form id="signup_form" action="{% url 'account_signup' %}" method="post" class="needs-validation signup"
                      novalidate>
                    {% csrf_token %}
                    <!--
                    Input -> Email
                    -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        {{ form.email }}
                        <div class="invalid-feedback">
                            Bitte gültige E-Mail-Adresse eingeben
                        </div>
                    </div>
                    {% if form.email.errors %}
                        <div class="alert alert-danger">
                            <ul style="list-style: none; padding-left: 0">
                                {% for error in form.email.errors %}
                                    <li><small>{{ error }}</small></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <!--
                    Input -> Password1
                    -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="alert alert-danger">
                                <ul style="list-style: none; padding-left: 0">
                                    {% for error in form.password1.errors %}
                                        <li><small>{{ error }}</small></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="invalid-feedback">
                            Bitte wählen Sie ein sicheres Passwort
                        </div>
                    </div>
                    <!--
                    Input -> Password2
                    -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        {{ form.password2 }}
                        <div class="invalid-feedback">
                            Bitte wählen Sie ein sicheres Passwort
                        </div>
                    </div>
                    {% if form.password2.errors %}
                        <div class="alert alert-danger">
                            <ul style="list-style: none; padding-left: 0">
                                {% for error in form.password2.errors %}
                                    <li><small>{{ error }}</small></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <!--
                    End Input
                    -->
                    {% if redirect_field_value %}
                        <div class="alert alert-danger">
                            <input type="hidden" name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}"/>
                        </div>
                    {% endif %}
                    <div class="container mt-5">
                        <button class="button" type="submit">
                            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="paper-plane" class="svg-inline--fa fa-paper-plane fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M440 6.5L24 246.4c-34.4 19.9-31.1 70.8 5.7 85.9L144 379.6V464c0 46.4 59.2 65.5 86.6 28.6l43.8-59.1 111.9 46.2c5.9 2.4 12.1 3.6 18.3 3.6 8.2 0 16.3-2.1 23.6-6.2 12.8-7.2 21.6-20 23.9-34.5l59.4-387.2c6.1-40.1-36.9-68.8-71.5-48.9zM192 464v-64.6l36.6 15.1L192 464zm212.6-28.7l-153.8-63.5L391 169.5c10.7-15.5-9.5-33.5-23.7-21.2L155.8 332.6 48 288 464 48l-59.4 387.3z"></path></svg>
                            <span>Absenden</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}