{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/account/verify_email.css' %}">
{% endblock %}

{% block content %}

    <section id="verify_sent" class="container-fluid h-100">
        <div class="row justify-content-center">
            <h1>{% trans "Verify Your E-mail Address" %}</h1>
        </div>
        </hr>
        <p class="text-center">
            Wir haben Ihnen eine Verfizierungsmail geschickt. Bitte folgen Sie dem Link in dem E-Mail, um den
            Registrierungsprozess abzuschließen.
        </p>
    </section>

{% endblock %}
