header {
    background-color: #191919;
}

header ul {
    margin: 0;
}

header a,
header li {
    padding: 1.4rem 10px;
    color: #ffffff;
    font-weight: bold;
}

section#intro-header .wrap-headline {
    position: relative;
    margin: 0 auto;
    padding-top: 20%;
}

section#about img {
    margin-top: 6.5rem;
    margin-bottom: 5rem;
}

section#about h3 {
    margin-top: 10rem;
}

section#footer {
    padding: 50px 10%;
    background-color: #191919;
    color: #ADADAD;
}

section#footer a {
    color: #ADADAD;
    text-decoration: none !important;
    background-color: transparent;
}

section#footer ul.quick-links li {
    padding: 20px 5px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

section#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

.img-about {
    width: 100%;
    max-width: 600px;
}

.hidden-element {
    display: none;
}

section#newsletter {
    border-top: 1px solid #E0E0E0;
    padding-top: 3.2em;
    margin-top: 2em;
}

section#newsletter h4 {
    padding: 1em;
}

section#newsletter form {
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 5.5em;
    margin-left: 20px
}

section#newsletter input{
    margin-left: 20px;
}

section#newsletter label{
    font-size: 0;
}